ul{
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;
  display: flex;
  gap: 8px;

}
nav li {
  display: flex; /* quitar los puntos de lista */
}

li {
  width: 60px;
  border: 4px solid darkslategray;
  background: skyblue;

}

.three {

  margin-right: auto;

}

.four {

  margin-left: auto;
}


